---
import BlogPost from "@/layouts/BlogPost.astro";
import PostList from "@/components/PostList.astro";
---

<BlogPost
  title="Tootsie lemon soufflé"
  description="Soufflé bonbon toffee sweet dragée drops oat o lollipop pastry pie marzipan o cheesecake drops."
>
  <section>
    <PostList page={1} />
  </section>
</BlogPost>




