---
import { getCollection } from "astro:content";
import { type BlogProps } from "@/types/blog";

//const allPosts = await getCollection("blog");
const allPosts = (await getCollection("blog")) as BlogProps[];

// Extrair todas as tags únicas
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())].sort();
---

<section>
  <h2>Todas as Tags:</h2>

  <div class="categories-container">
    {
      tags.map((tag) => (
        <a href={`/tags/${tag}`} class="category">
          {tag} (
          {allPosts.filter((post) => post.data.tags?.includes(tag)).length})
        </a>
      ))
    }
  </div>
</section>

<style>
  .tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
  }

  .tag {
    background-color: #f4f4f4;
    color: #333;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s;
  }

  .tag:hover {
    background-color: #e0e0e0;
  }
</style>
